<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Collaborative Mapping &mdash; Samuel Kordik</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <style>
      body {
        background-color: #073642;
        color: #FDF6E3;
      }
      h3, h4 {
        font-family: 'Roboto Condensed', sans-serif;
      }
      h3.text-muted {
        color: #F1EBD9;
      }
      .carousel {
        border: 1px solid white
      }
      </style>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
<body>
  <div class="container">
  <h3 class="display-3">Collaborative Mapping</h3>
  <h3 class="text-muted">Leveraging Collaborative Mapping to Improve Responder Information</h3>
  <div class="row">
    <div class="col-sm">
      <h4>About this Presentation</h4>
      <p>During Hurricane Harvey, we utilized an online map service to build a collaborative mapping tool that provided information on road closures, shelters, fuel stations, and more. This tool was then accessed over 4,000 times by law enforcement, fire, and EMS personnel and provided critical information for responding to an evolving disaster. This presentation discusses how to use free online services to create a collaborative mapping tool, how to mitigate security concerns, and the practical steps necessary to keep the information on the map accurate and current.</p>
      <h4>About the Presenter</h4>
      <p>Samuel Kordik is the Senior Clinical Supervisor at Cypress Creek EMS, where he oversees quality of care and education. He has over a decade of experience in EMS and in disaster response across the state of Texas. During Hurricane Harvey, he functioned as Planning section chief in the Cypress Creek EMS EOC. He has also deployed with EMTF in ambulance strike team, ambulance staging manager, and medical incident support team roles.</p>
      <p>Cypress Creek EMS is the 911 ambulance service provider for ESD-11, a 177 square mile area in northern Harris County, TX, with about 650,000 residents.</p>
    </div>
    <div class="col-md">
      <h4>Presentation Slides</h4>
      <div id="carouselSlides" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="slides/Slide1.jpeg">
          </div>  
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide2.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide3.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide4.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide5.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide6.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide7.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide8.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide9.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide10.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide11.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide12.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide13.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide14.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide15.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide16.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide17.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide18.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide19.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide20.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide21.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide22.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide23.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide24.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide25.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide26.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide27.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide28.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide29.jpeg"></div>
          <div class="carousel-item"><img class="d-block w-100" src="slides/Slide30.jpeg"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselSlides" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSlides" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md">
      <h3>Link to Sample Map</h3>
      <a href="https://drive.google.com/open?id=1ou0V0vy2Qw66d-NNshUkXlmYGXcHD2vl&usp=sharing">Collaborative Mapping Example</a>
    </div>
    <div class="col-sm">
      <a href="https://twitter.com/samuelkordik?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @samuelkordik</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</body>
</html>